IntranetWeb/Service References/MantenimientoInteligenteServiceReference/wsGCM.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:moduloGCM" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:moduloGCM" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:moduloGCM">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="requestGCM">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="message" type="xsd:string" />
          <xsd:element name="title" type="xsd:string" />
          <xsd:element name="code" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sendMessageRequest">
    <wsdl:part name="requestGCM" type="tns:requestGCM" />
  </wsdl:message>
  <wsdl:message name="sendMessageResponse">
    <wsdl:part name="return" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:portType name="moduloGCMPortType">
    <wsdl:operation name="sendMessage">
      <documentation>metodo de prueba</documentation>
      <wsdl:input message="tns:sendMessageRequest" />
      <wsdl:output message="tns:sendMessageResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="moduloGCMBinding" type="tns:moduloGCMPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="sendMessage">
      <soap:operation soapAction="urn:moduloGCM#sendMessage" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:moduloGCM" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:moduloGCM" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="moduloGCM">
    <wsdl:port name="moduloGCMPort" binding="tns:moduloGCMBinding">
      <soap:address location="http://11.10.1.10:90/ws/wsGCM.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>